# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_ALTER_TABLES=
DB_DROP_TABLES=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# API Gateway
PORT=
NODE_ENV=

# Service URLs
USER_SERVICE_URL=
CONTENT_SERVICE_URL=
QUESTION_SERVICE_URL=
STUDENT_SERVICE_URL=
TEST_SERVICE_URL=
TEACHER_SERVICE_URL=
DASHBOARD_SERVICE_URL=
