PORT=3000
NODE_ENV=development

JWT_SECRET=your_jwt_secret_here

USER_SERVICE_URL=http://localhost:3001
CONTENT_SERVICE_URL=http://localhost:3002
QUESTION_SERVICE_URL=http://localhost:3003
STUDENT_SERVICE_URL=http://localhost:3004
TEST_SERVICE_URL=http://localhost:3005
TEACHER_SERVICE_URL=http://localhost:3006
DASHBOARD_SERVICE_URL=http://localhost:3007
